# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log.txt
*.pot
__pycache__/
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store
*.pth

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info/

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox/
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/
docs/_rst/*
docs/_build/
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version



*.log
*.pth
*.pkl
scratch/*

SHO_example
SHO_example/*

examples/log.txt
examples/automl
examples/examples
examples/MNIST
examples/model
examples/ax_multiobjective_nas_tutorial (1).ipynb
examples/log.txt
examples/.log.txt
examples/mnist_train_nas.py
examples/MNIST_test.py

data/MNIST/
examples/data/MNIST/
SHO_example/5_nn_fitting_all.ipynb
examples/log.txt
/examples/examples
/example/model/*

.mypy_cache/
.ruff_cache/
